*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: scroll;
}
*::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}

.escondido{
    display: none;
}

header{
    z-index: 10;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
}
header h1{
    color: #FFFFFF;
    font-size: 37px;
    font-weight: 700;
}
main{
    background-color: #FAFAFA;
    margin: 100px 18px auto 18px;
    display: block;
    justify-content: center;
}
section h1{
    font-size: 20px;
}
.criar-quizz{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    height: 180px;
    padding: 40px;
    border-radius: 5px;
    border: 2px dashed #d5d5d5;
}
.box-quizz{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.criar-quizz button{
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    font-size: 21px;
    color: #EC362D;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.resultado img{
    max-width: 360px;
}
.todos-os-quizzes span{
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos-os-quizzes ion-icon{
    font-size: 31px;
    color: #EC362D ;
}
.seus-quizzes span{
    font-size: 20px;
    font-weight: 700;
}
.quizz{
    position: relative;
    height: 180px;
    width: 340px;
    margin: 5px;
    border-radius: 5px;
    background-position: center;
    background-size: 100% 100%;
}
.quizz h2{
    font-size: 19px;
    font-weight: 400;
    color: #FFFFFF;
    position:absolute;
    bottom: 7px;
    left: 18px;
}

.tela2{
    z-index: 1;
    position: absolute;
    width: 100%;
    display: block;
    justify-content: center;
    margin: 80px auto;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}
::-webkit-scrollbar{display: none;}
.pergunta{
    display: block;
    margin: 60px 10% auto 10%;
}
.pergunta span{
    margin: auto auto;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perguntas{
    width:165px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.perguntas p{
    font-size: 20px;
    font-weight: 700;
}

.quizz-banner{
    position: relative;
    width: 100%;
    max-height: 227px;
    overflow-y: hidden;
}
.quizz-banner img{
    justify-self: center;
    width:100%;
    filter: brightness(60%) opacity(60%);
}
.quizz-banner h2{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 400;
}

.quizzFinalizado{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quizzFinalizado button{
    margin: 15px;
    width: fit-content;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background-color: #EC362D;
    border: none;
}
.quizzFinalizado p{
    margin: auto 35px;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}
.quizzFinalizado h4{
    font-size: 20px;
    font-weight: 400;
    color: #818181;
    margin-bottom: 60px;
}